name: Flutter CI

on:
  push:
    branches:
      - main
    paths:
      - 'lib/**'
      - 'android/**'
      - 'pubspec.yaml'
      - 'pubspec.lock'
      - '.github/workflows/flutter-ci.yml'
  pull_request:
    branches:
      - main
    paths:
      - 'lib/**'
      - 'android/**'
      - 'pubspec.yaml'
      - 'pubspec.lock'
      - '.github/workflows/flutter-ci.yml'

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.19.0'
          channel: 'stable'

      - name: Install dependencies
        run: flutter pub get

      - name: Fix gradlew permissions and line endings
        run: |
          sed -i 's/\r$//' android/gradlew
          chmod +x android/gradlew

      - name: Analyze project
        run: flutter analyze --no-fatal-infos

      - name: Build APK
        run: flutter build apk --release
        env:
          GRADLE_OPTS: "-Dorg.gradle.jvmargs=-Xmx4096m"
