# Flutter Build Workflow

name: Flutter Build

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Set up JDK
        uses: actions/setup-java@v1
        with:
          java-version: '11'
      - name: Install Flutter
        run: |
          git clone https://github.com/flutter/flutter.git --depth 1
          export PATH="$PATH:`pwd`/flutter/bin"
          flutter precache
          flutter pub get
      - name: Build
        run: |
          flutter build apk

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: my-artifact
          path: build/app/outputs/flutter-apk/app-release.apk
